<a href="https://colab.research.google.com/github/christy726/web_scraping/blob/main/web_scrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello peeps,

This is a simple web scraping code. In this program, four libraries are used, and they are,
  1. requests : It use to making HTTP requests  to a specified URL.
  2. pandas : Use to creating and manipulating DataFrames.
  3. bs4 :It is a web scraping framework in Python for parsing HTML.
  4. tabulate :  Use to displaying the DataFrame in a tabular form.

In [30]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from tabulate import tabulate

Here we are going to scrape the list of evergreen Malayalam movies from IMDB, https://www.imdb.com/list/ls063858620 is the website taht we are going use.

The website link is assigned to the variable 'URL'. Then 'requests' library makes an HTTP GET request to retrive the HTML cotent of the page and assign it to variable 'respone'.

In [31]:
url = 'https://www.imdb.com/list/ls063858620/'
response = requests.get(url)

BeautifulSoup object is created from the HTML content returned by the requests.get() call and assign it to the variable 'soup'.

In [33]:
soup = BeautifulSoup(response.text, 'html.parser')

By using select(0 method of the soup object to find all the elements with class name lister-item, represent each movie in the list and assign it to variable 'movie'.

In [34]:
movies = soup.select('.lister-item')

In this cell creates an empty pandas DataFrame (df) with four columns: 'Title', 'Year',  'Director', and 'Stars'.

In [35]:
df = pd.DataFrame(columns=['Title', 'Year', 'Director', 'Stars'])

A for loop is initialized. it loops through each movie div element and extracts the movie title, year, director and star from the HTML using select() method of the movie object. The director's name is extracted by splitting the string at the '|' character and taking the second part, then spliting again at the ':' character and taking the second part. The star's anme are extracted using a list comprehension to loop through all 'a'  elements in the second '.text-muted.text-small' element, which contains the director's name and star's names seperated by '|'. The extracted data is then added to the pandas df using thr 'loc[ ]' method.

In [36]:
for movie in movies:
    title = movie.select('.lister-item-header a')[0].text
    year = movie.select('.lister-item-year')[0].text.strip('()')
    director = movie.select('.text-muted.text-small')[1].text.strip().split('|')[0].split(':')[1].strip()
    stars = [star.text.strip() for star in movie.select('.text-muted.text-small')[1].select('a')]
    df.loc[len(df)] = [title, year, director, ', '.join(stars)]

In this cell 'tabulate()' function is used from the 'tabulate' library/module. This will help  to pandas DataFrame (df) in tabular form.

In [39]:
table = tabulate(df, headers='keys', tablefmt='pipe', showindex=True)

Finally the output  is obtained in table form.

In [40]:
print(table)

|    | Title                     |   Year | Director         | Stars                                                                             |
|---:|:--------------------------|-------:|:-----------------|:----------------------------------------------------------------------------------|
|  0 | Devasuram                 |   1993 | I.V. Sasi        | I.V. Sasi, Mohanlal, Napolean, Revathi, Innocent Vareed Thekkethala               |
|  1 | Parinayam                 |   1994 | T. Hariharan     | T. Hariharan, Mohini, Vineeth, Manoj K. Jayan, Thilakan                           |
|  2 | A Northern Story of Valor |   1989 | T. Hariharan     | T. Hariharan, Mammootty, Madhavi, Devan, Suresh Gopi                              |
|  3 | Thoovanathumbikal         |   1987 | P. Padmarajan    | P. Padmarajan, Mohanlal, Sumalatha, Parvathi, Ashokan                             |
|  4 | Vadakkunokkiyantram       |   1989 | Sreenivasan      | Sreenivasan, Sreenivasan, Parvathi, Innocent Vareed Thekkethala, K.P.A.C. Lalitha |
|  5 | Drishyam                  |   2013 | Jeethu Joseph    | Jeethu Joseph, Mohanlal, Meena, Asha Sharath, Ansiba                              |
|  6 | Amaram                    |   1991 | Bharathan        | Bharathan, Mammootty, Maathu, Chitra, Murali                                      |
|  7 | Kireedam                  |   1989 | Sibi Malayil     | Sibi Malayil, Mohanlal, Thilakan, Kaviyoor Ponnamma, Parvathi                     |
|  8 | Sandesham                 |   1991 | Sathyan Anthikad | Sathyan Anthikad, Sreenivasan, Jayaram, Thilakan, Maathu                          |
|  9 | Manichithrathazhu         |   1993 | Fazil            | Fazil, Shobana, Mohanlal, Suresh Gopi, Vinaya Prasad                              |
| 10 | Thaniyavartanam           |   1987 | Sibi Malayil     | Sibi Malayil, Mammootty, Thilakan, Mukesh, Kaviyoor Ponnamma                      |
| 11 | Ulladakkam                |   1991 | Kamal            | Kamal, Mohanlal, Amala Akkineni, Shobana, Murali                                  |
| 12 | Innale                    |   1989 | P. Padmarajan    | P. Padmarajan, Shobana, Jayaram, Srividya, Suresh Gopi                            |
| 13 | Bhoothakkannadi           |   1997 | A.K. Lohithadas  | A.K. Lohithadas, Mammootty, Sreelakshmi, Cherthala Lalitha, Sindhu Shyam          |
| 14 | Midhunam                  |   1993 | Priyadarshan     | Priyadarshan, Mohanlal, Sreenivasan, Urvashi, Jagathy Sreekumar                   |
| 15 | Godfather                 |   1991 | Lal,             | Lal, Siddique, N.N. Pillai, Mukesh, Philomina, Thilakan                           |
|    |                           |        | Siddique         |                                                                                   |
| 16 | Chithram                  |   1988 | Priyadarshan     | Priyadarshan, Mohanlal, Nedumudi Venu, Renjini, Poornam Vishwanathan              |
| 17 | The Play of God           |   1997 | Jayaraj          | Jayaraj, Suresh Gopi, Lal, Manju Warrier, Biju Menon                              |
| 18 | Moonnam Pakkam            |   1988 | P. Padmarajan    | P. Padmarajan, Jagathi N.K. Achari, Ajayan Adoor, Ajayan, Ashokan                 |
| 19 | Bharatham                 |   1991 | Sibi Malayil     | Sibi Malayil, Mohanlal, Urvashi, Nedumudi Venu, Kaviyoor Ponnamma                 |
| 20 | Thalayanamanthram         |   1990 | Sathyan Anthikad | Sathyan Anthikad, Sreenivasan, Urvashi, Jayaram, Parvathi                         |
| 21 | Guru                      |   1997 | Rajiv Anchal     | Rajiv Anchal, Mohanlal, Suresh Gopi, Madhupal, Kaveri                             |
| 22 | Dasharatham               |   1989 | Sibi Malayil     | Sibi Malayil, Mohanlal, Rekha, Murali, Karamana Janardanan Nair                   |
| 23 | Desadanam                 |   1996 | Jayaraj          | Jayaraj, Master Kumar, Vijayaraghavan, Mini Nair, Unnikrishnan Nampoothiri        |
| 24 | Kamaladalam               |   1992 | Sibi Malayil     | Sibi Malayil, Mohanlal, Parvathi, Monisha, Vineeth                                |